nav {
  /* height: 100%; */
  min-height: calc(100vh - 56px);
}

.menu {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 100%;
  list-style-type: none;
  border-right: solid 1px #e6e6e6;
}

.menu svg {
  margin-right: 0.5em;
}

.menu.hide {
  width: 40px;
  transition: width 0.2s;
}

.menu.hide .menu-item {
  padding: 0 10px;
}

.menu.hide .menu-item span {
  display: none;
}

.menu-item {
  padding: 0 20px;
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #303133;
  cursor: pointer;
}

.menu-item:hover {
  outline: 0;
  background-color: rgb(125, 197, 156, 0.2);
}

.active .menu-item {
  outline: 0;
  background-color: rgb(125, 197, 156, 0.1);
}

.menu-item i {
  margin-right: 0.5rem;
}
