<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FSD Course Center - Login</title>
<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{/webjars/font-awesome/5.9.0/css/all.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/signin.css}" />
<script th:inline="javascript">
  function changeCaptcha(){
	  var link = /*[[@{/captcha_image}]]*/ 'test';
	  $(".captcha-image").attr("src", `${link}?ts=${ Date.now()}`);
  }
</script>
</head>
<body class="login-page">
	<div class="container">
		<form class="form-signin" method="post" th:action="@{/login}">
		  <h2 class="form-signin-heading">FSD Course Center</h2>
			<div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
			<p>
				<label for="username" class="sr-only">Username</label>
				<input
					type="text" id="username" name="username" class="form-control"
					placeholder="Username" required="" autofocus="" autocomplete="off">
			</p>
			<p>
				<label for="password" class="sr-only">Password</label>
				 <input
					type="password" id="password" name="password" class="form-control"
					placeholder="Password" required="">
			</p>
			<p>
				<label for="password" class="sr-only">Captcha</label>
				 <input
					class="form-control captcha-input" name="kaptcha"
					placeholder="Enter Captcha" required="" autocomplete="off">
				  
				 <span class="captcha-area">
           <img th:src="@{/captcha_image}" onclick="changeCaptcha()" width="80" height="34" class="captcha-image" alt="Captcha Code"/>
           <a href="javascript:void(0)" class="btn-refresh" onclick="changeCaptcha()"><i class="fas fa-redo"></i></a>
				 </span>
			</p>
			
			<p class="checkbox">
        <input type="checkbox" class="form-check-input" id="remember" name="remember-me">
        <label for="remember">Remember me</label>
      </p>
      
			<p class="d-flex mt-4">
	            <button class="btn btn-lg btn-success btn-block mt-2" type="submit" >Signin</button>
	            <div class="float-right text-light">No account? <a class="text-warning" th:href="@{/register}">Register for free now.</a></div>
            </p>
		</form>
	</div>
</body>
</html>