<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FSD Course Center</title>
<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<div class="row flex-xl-nowrap">
			<div class="col-12 col-md-3 col-xl-2 bd-sidebar">
				<div th:replace="fragments/sidemenu :: search"></div>
				<div th:replace="fragments/sidemenu :: nav"></div>
			</div>

			<main class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 bd-content"
				role="main"> 
				
			Hello <b sec:authentication="name">,</b>
			<p>This is the users page. ROLE_ADMIN can see it.</p>

			<h2>List of users</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>name</th>
						<th>email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
					</tr>
				</tbody>

			</table>
			</main>


		</div>

	</div>
</body>
</html>