<nav>
  <ul #menuRef role="menubar" class="menu">
    <li
      class="menu-item"
      [routerLink]="['/course']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-folder-plus"></i>
      <span>Add Video</span>
    </li>
    <li
      class="menu-item"
      [routerLink]="['/watch']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fas fa-video"> </i>
      <span>Watch Video</span>
    </li>
  </ul>
</nav>
